.main {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px 0 50px 0;
}

.reserveSearch{
    height: 30px;
    background-color: white;
    border:3px solid #febb02;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    width: 100%;
    max-width: fit-content;
    gap: 25px;
    /* margin-left: 200px; */
}

.reserveSearchItem{
    display: flex;
    align-items: center;
    gap:0px;
}
.reserveSearchInput{
    border: none;
    outline: none;
}
.reserveSearchText{
    color:white;
}
.options{
    color: black;
    /* border-radius: 5px; */
    padding: 10px;

}
.optionItem{
    width: 200px;
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.reserveBtn{
    background-color: #105058;
    color:white;
    font-weight: 500;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.reserveBtnLight{
    color:black;
    font-weight: 500;
    border: 3px solid #105058;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    align-self: right;
}
.reserveBtnLight:hover{
    color:white;
    font-weight: 500;
    background-color: #105058;
}

.reservationMain{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1024px;
    min-height: 10%;
}

.reservationMainLeft{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    max-width: 320px;
    padding: 10px;
}

.reservationMainRight{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    max-width: 720px;
    padding: 10px;
}

.styled-doctor{
    width: 100%;
    border: 3px solid #105058;
    background-color: white;
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    max-width: 1004px;
}

/* .styled-doctor even{
    width: 100%;
    border: 2px solid white;
    background-color: gray;
} */